* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  line-height: 24px;
  background: #eeaa7b;
}

header {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  font-weight: 700;
  max-width: 500px;
  margin: 20px auto 40px auto;
  text-align: center;
  line-height: 48px;
}

h1, h2 {
  max-width: 750px;
  margin: 0 auto 20px auto;
  text-align: center;
  line-height: 36px;
}

h2 {
  font-size: 16px;
}

.help {
  color: #3d6f72;
  font-weight: bold;
}

.navbar, .controls, #map  {
  display: none;
}

#map {
  height: 100%;
  width: 100%;
}

footer {
  text-align: right;
}

/*label[name="cat"] {
    display: inline-block;
    width: 200px;
}*/

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  border: solid 3px #66b9bf;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.button {
  text-align: center;
}

.noresults {
  font-size: 12px;
  border: solid 1px #e37222;
  padding: 16px;
  margin: 30px 10px 10px 10px;
  text-align: center;
}

#applybtn, #startbtn {
  font-size: 16px;
  border: solid 1px #e37222;
  padding: 16px;
  margin: 30px 10px 10px 10px;
  text-align: center;
  cursor: pointer;
  background: #e37222;
}

#applybtn:hover, #applybtn:focus, #startbtn:hover, #startbtn:focus {
  background-color: #07889b;
}

.closebtn {
  display: none;
  font-size: 48px;
  position: absolute;
  right: 10px;
  float: right;
  transform: translate(-5px, -40px);
  cursor: pointer;
  padding: 5px;
  color: gray;
  border: 1px solid gray;
}

.navbar {
  overflow: hidden;
  height: auto;
  background-color: #66b9bf;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background: #e37222;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #07889b;
}

.dropbtn {
  border: solid 1px #e37222;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #66b9bf;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: .9;
}

input[type=text] {
  padding: 5px;
}

input[type=textbox] {
  padding: 5px;
}


input {
  cursor: pointer;
}

.radius {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.categories {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}

.column1, .column2, .column4, .column5 {
  float: left;
  width: 18%;
  padding: 10px;
  height: 100%;
}

.column3 {
  float: left;
  width: 64%;
  padding: 10px;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 850px) {
  .column1, .column2, .column3, .column4, .column5 {
    width: 100%;
    height: auto;
  }
  .categories {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  .radius {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}


@media (max-width: 575px) {
  .categories {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
