/** {
  box-sizing: border-box;
}*/

header {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 48px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background: #e37222;
  line-height: 24px;
}

.container {
  display: flex;
}


.params-container {
  background: #66b9bf;
  width: 25%;
}

.map-container {
  width: 75%;
}

#autocomplete {
  width: 99%;
}

/*#keyword {
  min-width: 48px;
  min-height: 48px;
}*/

#from {
  margin-left: 5px;
}

#to {
  margin-left: 25px;
}

#map {
  height: 100%;
  width: 100%;
}

.button {
  text-align: center;
}

/* Search Button*/
#btn {
  margin: 10px;
  text-align: center;
  background-color: #eeaa7b;
  padding: 16px;
  font-size: 16px;
  border: solid 1px #e37222;
  cursor: pointer;
}

/* Search button on hover & focus */
#btn:hover, #btn:focus {
  background-color: #07889b;
}
