* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  font-weight: 700;
}

header, h1, h2, p {
  max-width: 500px;
  margin: 0 auto 20px auto;
  text-align: center;
  line-height: 48px;
}

h2 {
  line-height: 36px;
}

p {
  max-width: 700px;
  line-height: 1.5;
}

.help {
  color: #3d6f72;
  font-weight: bold;
  font-size: 32px;
}

main {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  line-height: 24px;
  /*background: #eeaa7b;*/
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.params-container {
  background: #66b9bf;
  width: 0%;
}

.map-container {
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

footer {
  text-align: right;
}

.radius {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.categories {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 4;
}

/*label[name="cat"] {
    display: inline-block;
    width: 200px;
}*/

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  border: solid 3px #66b9bf;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#from {
  margin-left: 5px;
}

#to {
  margin-left: 25px;
}

.button {
  text-align: center;
}

/* Buttons */
#btn, #startbtn {
  font-size: 16px;
  border: solid 1px #e37222;
  padding: 16px;
  margin: 30px 10px 10px 10px;
  text-align: center;
  cursor: pointer;
  background: #e37222;
}

/* Search button on hover & focus */
#btn:hover, #btn:focus, #startbtn:hover, #startbtn:focus {
  background-color: #07889b;
}

/* close X */
.closebtn {
  display: none;
  font-size: 48px;
  position: absolute;
  right: 10px;
  float: right;
  transform: translate(-5px, -40px);
  cursor: pointer;
  padding: 5px;
  color: gray;
  border: 1px solid gray;
}

/*.dropbtn {
    background-color: #eeaa7b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #07889b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}*/

/* Navbar container */
.navbar {
  overflow: hidden;
  height: auto;
  background-color: #66b9bf;
}

/* Links inside the navbar */
/*.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background: #e37222;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #07889b;
}

.dropbtn {
  border: solid 1px #e37222;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #66b9bf;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: .9;
}

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
  display: block;
}*/

/* Create columns that float next to each other */
.column1, .column2, .column4, .column5 {
  float: left;
  width: 18%;
  padding: 10px;
  height: 100%;
}

.column3 {
  float: left;
  width: 64%;
  padding: 10px;
  height: 100%;
}

/* Add a background color on hover */
/*.column a:hover {
  background-color: #ddd;
}*/

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 850px) {
  .column1, .column2, .column3, .column4, .column5 {
    width: 100%;
    height: auto;
  }
}
